
<!-- <header>
    <div class="container">
      <a href="">
        <img class="logo" src="assets/logoGM.png" alt="">
      </a>
      <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Buscar..."/>
        <button id="bt_busca" type="submit"><img src="assets/lupa.png" id="btnBusca" alt="Buscar"/></button>
      </div>
      <a href="#" id="barras">
        <img class="barras" src="assets/bars.svg" alt="">
      </a>
      <div id="menu-icones">
        <a routerLink="/login" routerLinkActive="active"><i><fa-icon [icon]="iconlogin"></fa-icon> </i> </a>
      </div>
    </div>
    <div class="container">
       <nav id="menu" class="menu">
        <a href="">Home</a>
        <a href="">Computadores</a>
        <a href="">Promoções</a>
        <a href="">Games</a>
        <a href="">Forum</a>
        <a href="">Contato</a>
      </nav>
    </div>

  </header> -->

<router-outlet></router-outlet>
<!-- <footer>
    <div class="container rodape">
      <div class="links-footer">
        <div class="links">
          <h2>Páginas</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Computadores</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Login/Cadastro</a></li>
          </ul>
        </div>
        <div class="links">
          <h2>Links Uteis</h2>
          <ul>
            <li><a href="#">Regras de utilização</a></li>
            <li><a href="#">Suporte</a></li>
            <li><a href="#">Central de Ajuda</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="logo-rodape">
        <img src="assets/logoGM.png" alt="Logo E-players">
      </div>
      <div class="sociais">
        <h2>Receba as novidades! Cadastre seu email!</h2>
        <form action="">
          <input id="campo-email" type="email" placeholder="E-mail" required>
          <button onclick="enviarEmail()" class="botao-cadastrar">Cadastrar</button>
        </form>
        <div class="siga-nos">
          <h2>Siga-nos em:</h2>
          <li><a href="#"><img src="assets/insta.png" alt="Logo do insta"></a></li>
          <li><a href="#"><img src="assets/face.png" alt="Logo do face"></a></li>
          <li><a href="#"><img src="assets/youtube.png" alt="Logo do youtube"></a></li>
        </div>
      </div>
    </div>
  </footer>   -->
